body {
    font-family: Arial;
    text-align: center;
}

input {
    padding: 6px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 60%;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    font-style: calibri;
}

th {
    background-color: #eaf0f1;
}
